.container{
    width: 100vw;
    /* height: 200vh; */
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    background-size: cover;
    background: linear-gradient(rgba(244, 224, 217, .8), rgba(244, 224, 217, .8)), url('../../images/NuestraFamilia.jpg') top;
    background-size: cover;
    background-position-x: 23%;
    background-size: cover;
    padding: 80px;

}
.row{
    padding-top:10px;
    

}
.col{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */


}

.col h1{
    color: #b66d7d;
    font-family: montserat 'sans-serif';
    font-size: 4.0107137143vw;
    line-height: 4.0107137143vw;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin: 20px 0px;
}

.circleRow{
  display: flex;
  align-items: center;
  margin-top: 150px;
}

.circlecCol{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.circlecCol div{
    margin: 35px;
}

.colImage{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.cricle{
    background-color: #b66d7d;
    border-radius: 50%;
    width: 9.5833333333vw;
    height: 9.5833333333vw;
    color: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cricle h1{
    font-size: 3.2531344571vw;
    line-height: 1;
    font-weight: bolder;
}
.cricle p{
    font-size: .6684522857vw;
    line-height: 1.25;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    text-align: center;
}

.contentRow{
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 35px;
}

.content2{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 10px;
}
.content  h2{
    text-align: center;
    font-size: 1.7825394286vw;
    font-weight: 600 !important;
    letter-spacing: 1px;
    margin-top: 10px !important;
}
.content2  h2{
    text-align: center;
    font-size: 1.7825394286vw;
    font-weight: 600 !important;
    letter-spacing: 1px;
    margin-top: 10px !important;
}

.NuestraImage{
    width: 25.7291666667vw;
    height: auto;
}


@media screen and (max-width:992px) {
    .cricle{
        width: 12.5833333333vw;
        height: 12.5833333333vw;
    }
    .container{
        padding: 80px;
    
    }
    .content{
      
        margin: 35px;
    }
    
    .content2{
   
        margin: 0px;
    }

}
@media screen and (max-width:789px) {
    .cricle{
        width: 20.5833333333vw;
        height: 20.5833333333vw;
    }
    .container{
        padding: 0px;
        margin: 0px;
    }
    .circlecCol div{
        margin: 10px;
    }
    .cricle h1{
        font-size: 5.2531344571vw;
    }
    .cricle p{
        font-size: .9684522857vw;
      
    }
    .colImage{
        flex-wrap: wrap;
    }
    .content  h2{
        font-size: 3.7825394286vw;
    }
    .content2  h2{
        font-size: 3.7825394286vw;
    }
    .cricle p{
        font-size: 1.9684522857vw;
      
    }
    .NuestraImage{
        width: 75.7291666667vw;
        height: auto;
    }
   
   
}

@media screen and (max-width:667px) {
    .cricle{
        width: 20.5833333333vw;
        height: 20.5833333333vw;
    }
    .container{
        padding: 0px;
        margin: 0px;
    }
    .circlecCol div{
        margin: 10px;
    }
    .cricle h1{
        font-size: 5.2531344571vw;
    }
    .cricle p{
        /* font-size: .9684522857vw; */
      
    }
    .NuestraImage{
        width: 75.5833333333vw;
    }
   
   
}

@media screen and (max-width:400px) {
    .cricle{
        width: 25.5833333333vw;
        height: 25.5833333333vw;
    }
    .container{
        padding: 0px;
        margin: 0px;
    }
    .circlecCol div{
        margin: 10px;
    }
    .cricle h1{
        font-size: 5.2531344571vw;
    }
    .cricle p{
        font-size: 1.684522857vw;
      
    }
   
}