.container {
    background-color: #f4e0d8;
    height: 69.9vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;

    height: 100%;
}

.left {
    background-image: url('../../images/homeBackground.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    opacity: 0.35;
    width: 45vw;
    height: 100%;
    padding: 50px;
}

.right {
    text-align: center;
    color: #be7786;
    font-weight: 600;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 13.125vw;
    width: 34.375vw;
}

.box {
    margin-top: 250px;
}

.box p {
    text-align: center;
    color: #be7786;
    font-size: 1.4rem;

    font-weight: 600;
    z-index: 99;
    letter-spacing: 1px;
}

.heart {
    margin: 10px 0px;
}

@media screen and (max-width: 992px) {
    .container {
        height: 100vh;
    }

    .box {
        margin-top: 50px;
    }

    .left {
        width: 100vw;
    }

    .right {
        font-size: 2rem;
        right: 10vw;
        width: 75vw;
        left: 0;
        top:0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left {
        background-position: center;
        background-size: cover;
    }
}

/* @media only screen and (max-width: 768px) {
    .left {
        width: 50vw;
        padding: 30px;
    }

    .right {
        width: 40vw;
        right: 10vw;
        font-size: 2.5rem;
    }

    .box {
        margin-top: 150px;
    }
} */

/* */

@media screen and (max-width: 480px) {

    .box{
        margin-top: 150px;
    }
    
}


@media screen and (max-width: 1200px) {

    .box{
        margin-top: 200px;
    }
    
}


