@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

div,Link,span,h1,h2,h3,h4,h5,h6,p,a,label{
  font-family: "Montserrat", sans-serif;
  
}

body {
  font-family: "Montserrat", sans-serif;
}




